{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <div class="">
    <h2>Contact Us</h2>
    <hr>
    <h3>Alberta Asian Arts Festival</h3>
    <p>### - 3rd St, Suite 2000</p>
    <p>Calgary, Alberta, T2P-2T0</p>
    <p>Canada</p>
    <p>(403)-###-####</p>
    <p>aaafestivals@shaw.ca</p>
  </div>
  <hr>
  <div class="">
    <h5>Social Media Buttons will go here</h5>
  </div>
</div>
<!-- Map -->
<!-- <map>

</map> -->

<!-- Email Form -->

<!-- Contact Information -->
<!-- Additional Contact Information -->

{% endblock %}
