{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h1>Events</h1>
  
  <div class="card">
    <div class="card-body">
      <h2>Film Submissions</h2>
      <hr>
      <p>Welcome to the Alberta Asian Arts Festival!</p>

      <p>
        <span style="strong">Key Submission Dates</span>
        <ul>
          <li>Early Deadline (No submission fee): April 20, 2020</li>
          <li>Regular Deadline: June 15, 2020</li>
          <li>Late Deadline: July 15, 2020</li>
        </ul>
      </p>
    </div>
  </div>
</div>
{% endblock %}
