{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
  <h1>Festival Information</h1>
  <div class="card">
    <div class="card-body">
      <h2>When</h2>
      <p>November 20, 2020</p>
      <hr>
      <h2>Where</h2>
      <p>Calgary Downtown Globe Theatre</p>
      <hr>
      <h2>What</h2>
      <p>Films</p>
    </div>
  </div>
  <div class="section mt-3">
    <h1>Film Details</h1>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-2">
            <img src="" alt="">
          </div>
          <div class="col">
            <h2>Film #1</h2>
            <p>Director: Steven Spielberg</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-2">
            <img src="" alt="">
          </div>
          <div class="col">
            <h2>Film #2</h2>
            <p>Director: Steven Spielberg</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-2">
            <img style="border:solid 1px darkgrey; border-radius:2px;" src="" alt="">
          </div>
          <div class="col">
            <h2>Film #3</h2>
            <p>Director: Steven Spielberg</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-md-2">
            <img src="" alt="">
          </div>
          <div class="col">
            <h2>Film #4</h2>
            <p>Director: Steven Spielberg</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
