{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="jumbotron">
    <h1>Welcome to Alberta Asian Arts Festival</h1>
  </div>
  <!-- carousel -->
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/Canva - Blue Homes.jpg" class="d-block w-100 h-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/Canva - Landscape Photography Of Body Of Water .jpg" class="d-block w-100 h-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/Canva - Brown Film.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/static/Canva - Lifeguard Station at Venice Beach.jpg" class="d-block w-100" alt="...">
      </div>
      <!-- <div class="carousel-item">
        <img src="..." class="d-block w-100" alt="...">
      </div> -->
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- Annual Programs & Events -->
  <div class="mt-3">
    <h2><a class="text-dark" href="/film_festival_info">Film Festival</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="mt-3">
    <h2><a class="text-dark" href="/lunar_festival_info">Lunar Festival</a></h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <!-- Recent News -->
  <div class="my-3">
    <h2><a class="text-dark" href="/blog_posts">Recent News</a></h2>
    {% for post in blog_posts.items %}
      <div class="card">
        <div class="card-body">
          <h3><a class="card-title text-secondary" href="{{url_for('/blog_posts.blog_post', blog_post_id=post.id)}}">{{post.title}}</a></h3>
          <p>By: <a class="text-secondary" href="{{url_for('users.user_posts',username=post.author.username)}}">{{post.author.username}}</a></p>
          <p class="card-text">{{post.text[:140]}}{{'...' if post.text|length>140 else ''}}</p>
          <a class="btn btn-sm blog-btn" href="{{url_for('/blog_posts.blog_post', blog_post_id=post.id)}}">Read Blog Post</a>
        </div>
      </div>
    {% endfor %}

    <!-- <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav> -->
  </div>

  <!-- Banner: Statistics -->
  <div class="">
    <h2><a class="text-dark" href="/sponsors">Our Sponsors</a></h2>
    <div class="row">
      <div class="col-sm">
        <h3 class="sponsor-badge">Sponsor 1</h3>
      </div>
      <div class="col-sm">
        <h3 class="sponsor-badge">Sponsor 2</h3>
      </div>
      <div class="col-sm">
        <h3 class="sponsor-badge">Sponsor 3</h3>
      </div>
    </div>
  </div>
</div>

{% endblock %}
