{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
  <div class="jumbotron">
    <h1>Our Team</h1>
  </div>
  <!-- Team Profile -->
  <div class="team-bio row">
      <h2 class="row">Team 1:</h2>
      <div class="members row">
        <div class="member-bio col-md-3">
          <img src="" alt="profile_pic">
          <h3>Judy Eng</h3>
          <h5>Founder</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="member-bio col-md-3">
          <img src="" alt="profile_pic">
          <h3>Derek Zoolander</h3>
          <h5>Marketing Director</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="member-bio col-md-3">
          <img src="" alt="profile_pic">
          <h3>Thanos</h3>
          <h5>Security Advisor</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="member-bio col-md-3">
          <img src="" alt="profile_pic">
          <h3>Awkwafina</h3>
          <h5>Brand Director</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="member-bio col-md-3">
          <img src="" alt="profile_pic">
          <h3>Jackie Chan</h3>
          <h5>Investor Relations Director</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
        <div class="member-bio col-md-3">
          <img src="" alt="profile_pic">
          <h3>Shaolin Monk</h3>
          <h5>Grunt</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
  </div>
  <div class="team-bio row">
      <h2 class="row">Team 2:</h2>
      <div class="members row">
        <div class="member-bio row">
          <div class="col-sm-1">
            <img src="" alt="profile_pic">
          </div>
          <div class="col-sm-11">
            <h3>Judy Eng</h3>
            <h5>Founder</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="member-bio row">
          <div class="col-sm-1">
            <img src="" alt="profile_pic">
          </div>
          <div class="col-sm-11">
            <h3>Derek Zoolander</h3>
            <h5>Marketing Director</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="member-bio row">
          <div class="col-sm-1">
            <img src="" alt="profile_pic">
          </div>
          <div class="col-sm-11">
            <h3>Thanos</h3>
            <h5>Security Advisor</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="member-bio row">
          <div class="col-sm-1">
            <img src="" alt="profile_pic">
          </div>
          <div class="col-sm-11">
            <h3>Awkwafina</h3>
            <h5>Brand Director</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="member-bio row">
          <div class="col-sm-1">
            <img src="" alt="profile_pic">
          </div>
          <div class="col-sm-11">
            <h3>Jackie Chan</h3>
            <h5>Investor Relations Director</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
        <div class="member-bio row">
          <div class="col-sm-1">
            <img src="" alt="profile_pic">
          </div>
          <div class="col-sm-11">
            <h3>Shaolin Monk</h3>
            <h5>Grunt</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
  </div>

  <!-- Team Profiles from Database -->
  <!-- {% for team in teams %}
    <div class="team">
      <h2>{{ team['name'] }}</h2>
      <div class="row">
      {% for member in team['members'] %}
        <div class="member_info">
        <img src="{{ member['profile_pic'] }}" alt="">
        <p>{{ member['position_title'] }}</p>
        <p>{{ member['bio'] }}</p>
      </div>
      {% endfor %}
      </div>
    </div>
  {% endfor %}   -->
</div>

{% endblock %}
